body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #7581a1;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
}
.nav {
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.btn-primary {
    color:#fff;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 700;
    background-color: #1085e4;
    text-transform: uppercase;
    border: 1px solid #1085e4;
    padding: 20px 40px;
    border-radius: 30px;
}
.btn-primary:hover {
    color: #1085e4;
    background-color: #fff;
}

.btn-secondary {
    color: #7e8bae;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 700;
    background-color: #cbdbe8;
    text-transform: uppercase;
    border: 1px solid #cbdbe8;
    padding: 20px 40px;
    border-radius: 30px;
}

.btn-secondary:hover {
    color: #7e8bae;
    background-color: #fff;
}

.btn-group a + a {
    margin-left: 15px;
}
.btn-free {
    padding: 22px 56px;
    font-weight: 400;
    letter-spacing: 1.7px;
}
.btn-info {
    color: #8085b1;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 700;
    background-color:transparent;
    text-transform: uppercase;
    border: 1px solid #dce1e5;
    padding: 20px 63px;
    border-radius: 30px;
}
.btn-info:hover {
    color:#fff;
    background-color: #1085e4;
}
.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
}
.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    display: block;
}
.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}
.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}
.comment {
    font-size: 14px;
    color: #1085e4;
}
.comment span {
    font-size: 16px;
    font-weight: 600;
    color: #192b59;
}
.page-sabscribe h2 {
    font-size: 50px;
    font-weight: 400;
    color: #fff;
}
.page-sabscribe span {
    font-size: 14px;
    font-weight: 800;
    color: #00bffe;
    text-transform: uppercase;
}
.page-sabscribe p {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
.page-software h2 {
    font-size: 50px;
    font-weight: 400;
    color: #192b59;
}
.dt {
    font-size: 16px;
    font-weight: 700;
    color: #5a6789;
}
.page-stat h2 {
    font-size: 50px;
    font-weight: 400;
    color: #192b59;
}
.fun {
    display: block;
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
}
.stat {
    display: block;
    font-size: 60px;
    font-weight: 700;
    color: #bacbdc;
}

.page-stat li {
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    text-transform: uppercase;
}
.page-app 